<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
       
    <p>Enter guess code(only digits from 1 to 6):</p>
    <div class="start">
            <form method="post" action="/game">
              <input name="user_code" type="text"/>
              <br>
              <input type="submit" value="Enter"/>
            </form>
          </div> 
    ___________________________________
        
        <br> user code is: <%= @guess_code %>
        <br> secret code is: <%= @secret_code %>

        <% if win? %>
          <br>You win
        <%end%> 
    
    
    
        
        

   

      
    
    

 
    
  </body>
</html>