<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>

  <p><a href="/">Home page</a></p>   
  <center>

        
    <p>Enter guess code(4 digits from 1 to 6):</p>
    <div class="start">
            <form method="post"  >
              <input name="user_code"  type="numbers" required pattern="[1-6]{4}" placeholder = "* * * *"/>
              <input type="submit" value="Enter"/>
            </form>
          </div> 
    _____________<% start %>______________________
      
        <br> user code is: <%= @guess_code %>
        <br> secret code is: <%= @red %>   
            <br> test: <% save_code_to_file %>
         <p>Code:</p> 
                 <h3> <%= read_code_from_file %> </h3>
                 <%= random_code %>
                
        
           
              <% if win? %>
              Congratulation you win!
              <% delete_code_file %>
              <% end %>

           
  </center>
    
  </body>
</html>