<!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>

  <p><a href="rules">Rules</a></p>
  <p><a href="statistics">Statistics</a></p> 
   
   <h1><p align="center">Codebreaker</p></h1>
  
       <div class="start">
           
       <center>
           <form class="New Game" method="post" action="/game">
             <input type="submit" value="New Game">
          </form>
        </div> 
      </center>



  </body>
</html>