 <!DOCTYPE html>
<html>
  <head>
    <title>Codebreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
  <p><a href="/">Home page</a></p>

  	<div class="main">   
		<h2>Let's play and be better</h2>
	</div>	
      <%=load_statistic%>
  </body>
</html>

